@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./markus-spiske-matrix-unsplash.jpg');
  background-size: 100% auto;

}

h1, h2 {
  font-family: 'VT323', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255,255,255,0.7);
  
}

.panel {
  width: 80%;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid black;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.errorWidget {
  border: 2px solid red;
}

.numberField {
  min-width: 50px;
}

.footer {
  font-size: smaller;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
}

.numberList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top:5px;
  margin-bottom: 1rem;
}

.numberBox {
  background: white;
  border: 1px solid black;
  padding: 3px 3px 3px 3px;
  margin-right: 5px;
  min-width:2em; 
}

.numberBox:hover {
  border-color: lightpink;
  transform: scale(1.2);
}