@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=VT323&family=Maven+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./markus-spiske-matrix-unsplash.jpg');
  background-size: 100% auto;
}

h1, h2 {
  font-family: 'VT323', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.5);
  min-height: 95vh;
}

.mainButton {
  font-family: 'VT323';
  font-size: x-large;
}

button {
  font-size: large;
}

.mainButton:hover {
  background-color: black;
  color: rgb(127,250,85);
  border: none;
  transition: all 0.5s ease;
}

#mainHeader {
  width: 80%;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid black;
  margin-bottom: 0px;
  padding-top: 1em;
}

.panel{
  width: 80%;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid black;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.errorWidget {
  border: 2px solid red;
}

.numberField {
  min-width: 50px;
}

.footer {
  height: 1.5em;
  font-size: smaller;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  height: 5vh;
}

.footer p{
  vertical-align: middle;
  display: inline-block;
}

.numberList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top:5px;
  margin-bottom: 1rem;
}

.numberBox {
  background: white;
  border: 1px solid black;
  padding: 3px 3px 3px 3px;
  margin-right: 5px;
  min-width:2em; 
  margin-bottom: 3px;
  margin-top: 3px;
}

.numberBox:hover {
  border-color: lightpink;
  transform: scale(1.2);
}

.emphasis {
  font-weight: bold;
}

.noBulletList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.formDiv {
  padding: 5px;
  vertical-align: top;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formDiv input,textarea {
  margin-left: 0.5em;
  margin-right: 2em;
}
